[Unit]
Description=
After=network.target

[Service]
Type=simple
ExecStart=/home/auther/service/start.sh
User=auther

[Install]
WantedBy=multi-user.target