[Unit]
Description=Quick API to post challenge updates to LKSN , i hope it's not vulnerable :((

[Service]
User=root
ExecStart=/bin/bash /srv/apictfd.sh
Restart=always
RestartSec=30
WorkingDirectory=/srv

[Install]
WantedBy=multi-user.target